.book-list {
    overflow: auto;
    font-family: sans-serif;
  }
  
  .book-item {
    display: flex;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    height: 50px;
  }
  
  .book-id {
    display: none;
    font-size: 20px;
    font-weight: bold;
    margin-right: 16px;
    width: 40px;
    text-align: right;
  }
  
  .book-info {
    flex: 1;
    margin-right: 16px;
  }


  .book-authors {
    font-style: italic;
  }

  .book-author:not(:last-child)::after {
    content: ", ";
  }

  .book-authors::after {
    content: ": ";
  }
  
  .book-info a {
    color: #333;
    text-decoration: none;
  }
  
  .book-info a:hover {
    text-decoration: underline; /* Add underline on hover */
  }
  
  .book-note {
    margin-top: 4px;
    font-size: 14px;
    color: #888;
  }
  
  .book-details {
    width: 40px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .book-century {
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 4px;
    text-align: center;
  }

  .book-century-bc {
    font-size: 16px;
  }

  .book-century-number {
    font-size: 20px;
  }

  .book-type {
    font-size: 14px;
    color: #888;
    text-align: center;
  }
  